*{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: linear-gradient(#FC913A, #EDE574);
}
#topo{
    position: fixed;
    display: flex;
    z-index: 1030;
    background: #F9D423;
    box-shadow: #999 1px 1px 3px;
}
.login{
    background: #E1F5C4;
}
.menu-item:hover{
    border-radius: 5px;
    transform: scale(1.1);
    transition-property: background scale;
    transition-duration: 1s;
    transition-delay: .1s;
    background: #FF4E50;
}
.menu-bg{
    padding: 1%; margin: 1% auto 1% auto;
    background: #E1F5C4;
    box-shadow: #aaa 1px 1px 3px;
}
.conteudo-principal{
    display: flex; flex-direction: row; flex-wrap: wrap;
    background: #E1F5C4;
    box-shadow: #aaa 1px 1px 3px;
}
.card-corpo{
    display: flex; flex-direction: column;
    background: #F9D423;
    border: #EDE574 solid 1px;
    border-radius: 5px;
    box-shadow: #aaa 1px 1px 4px;
}
.card-form{
    display: flex; flex-direction: column;
    background: #F9D423;
    border: #EDE574 solid 1px;
    border-radius: 5px;
    box-shadow: #aaa 1px 1px 4px;
}
.titulo-card{
    color: #FF4E50;
    font-weight: bold;
    text-shadow: #333 .3px .5px .7px;
}
.card-btn{
    background: #FC913A;
    margin: 1%;
    border-radius: 5px;
    box-shadow: #777 .7px 1px 2.5px;
}
.card-btn:hover{
    color: aliceblue;
    border-radius: 5px;
    transition-property: background color;
    transition-duration: .5s;
    transition-delay: .05s;
    background: #FF4E50;
}
.usuario{
    background: #E1F5C4;
    box-shadow: #aaa 1px 1px 3px;
}
#rodape{
    color: whitesmoke; background: #FF4E50;
    text-align: center; font-weight: bold;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) { 
    *{
        font-size: .9rem;
    }
    #topo{
        width: 100%; height: 10%;
        margin-top: -7%;
        flex-direction: row; justify-content: center;
        flex-wrap: nowrap;
    }
    #principal{
        width: 100%; height: 95%;
        margin-top: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #principal-dash{
        width: 100%; height: 95%;
        margin-top: 7%;
        padding: 5%;
    }
    #principal{
        width: 100%; height: 100vh;
    }
    .login{
        width: 90vw; height: 65%;
        padding: 20%; margin: 0 auto 0 auto 0;
    }
    .usuario{
        width: 16vw; height: 2%;
        margin-left: 1%;
        padding: 1%;
    }
    .card-corpo{
        width: 350px; height: auto;
        margin: 2%; padding: 2%;
    }
    .card-form{
        width: 350px; height: auto;
        margin: 2%; padding: 2%;
    }
    .card-imagem{
        width: 350px;
    }
    .icone{
        width: 35px;
    }
    .logo{
        width: 200px;
    }
    .logo2{
        width: 20px;
    }
    #rodape{
        display: none;
    }
 }

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    *{
        font-size: .9rem;
    }
    #topo{
        width: 100%; height: 10%;
        margin-top: -5%;
        flex-direction: row; justify-content: center; justify-items: center;
    }
    #principal{
        width: 100%; height: 80vh;
        padding-bottom: 2%;
    }
    #principal-dash{
        width: 100%; height: 95%;
        margin-top: 5%;
        padding: 5%;
    }
    .login{
        width: 60vw; height: 85%;
        padding: 10%; margin: 0 auto 0 auto 0;
    }
    .usuario{
        width: 15vw; height: 2%;
        margin-left: -7vw;
        padding: 1%;
    }
    .icone{
        width: 40px;
    }
    .card-corpo{
        width: 500px; height: auto;
        margin: 2%; padding: 2%;
    }
    .card-form{
        width: 350px; height: auto;
        margin: 2%; padding: 2%;
    }
    .card-imagem{
        width: 500px;
    }
    .logo{
        width: 220px;
    }
    .logo2{
        width: 20px;
    }
    #rodape{
        width: 100%; height: 22vh;
        padding: 7%;
    }
 }

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    *{
        font-size: 1rem;
    }
    #topo{
        width: 8%; height: 100%;
        flex-direction: column; justify-content: center;
    }
    #principal{
        width: 100%; height: 100%;
        padding-top: 2%;
        padding-bottom: 5%;
    }
    #principal-dash{
        width: 96%; height: 100%;
        margin-left: 7%;
        padding: 5%;
    }
    .login{
        width: 40%; height: auto;
        padding: 5%; margin: 0 auto 0 auto 0;
    }
    .logo{
        width: 220px;
    }
    .usuario{
        width: 12vw; height: 2%;
        margin-left: 2vw;
        padding: 1%;
    }
    .conteudo-principal{
        width: 100%; height: auto;
        margin: 1% auto 1% auto;
        padding: 2%;
    }
    .card-corpo{
        width: 600px; height: auto;
        margin: 2%; padding: 2%;
    }
    .card-form{
        width: 450px; height: auto;
    }
    .card-imagem{
        width: 600px;
    }
    .icone{
        width: 45px;
    }
    .logo{
        width: 250px;
    }
    .logo2{
        width: 20px;
    }
    #rodape{
        width: 100%; height: 30%;
        padding: 7%; margin-left: 7%;
    }
 }

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1920px) {
    *{
        font-size: 1rem;
    }
    #topo{
        width: 5.5%; height: 100%;
        flex-direction: column; justify-content: center;
    }
    #principal{
        width: 100%; height: 100%;
        padding-top: 2%;
        padding-bottom: 5%;
    }
    #principal-dash{
        width: 95%; height: 100%;
        margin-left: 4%;
        padding: 5%;
    }
    .icone{
        width: 50px;
    }
    .login{
        width: 25%; height: auto;
        padding: 4%; margin: 0 auto 0 auto 0;
    }
    .usuario{
        width: 12vw; height: 2%;
        margin-left: -5vw;
        padding: 1%;
    }
    .conteudo-principal{
        width: 100%; height: auto;
        margin: 1% auto 1% auto;
        padding: 2%;
    }
    .card-corpo{
        width: 600px; height: auto;
        margin: 1%; padding: 2%;
    }
    .card-form{
        width: 450px; height: auto;
    }
    .card-imagem{
        width: 550px;
    }
    .logo{
        width: 250px;
    }
    .logo2{
        width: 20px;
    }
    #rodape{
        width: 100%; height: auto;
        padding: 5%;
    }
 }